@using AnimalShelterClient.Models

@model AnimalShelterClient.Models.Animal

@{
  (bool,bool) values = Payload.GetValues(Context);
  @if(values.Item1 == true && values.Item2 == true)
  {
    @using(@Html.BeginForm())
    {
      @Html.LabelFor(x => x.Name)
      @Html.EditorFor(x => x.Name)
      @Html.LabelFor(x => x.AnimalType)
      @Html.EditorFor(x => x.AnimalType)
      <input type="submit" value="Create new animal profile">
    }
  }
  else if(values.Item1 == true && values.Item2 == false)
  {
    <div>
      <p>Your login token has expired. @Html.ActionLink("login","Login","Security") again to add new animals</p>
    </div>
  }
  else
  {
    <div>
      <p>You must @Html.ActionLink("login","Login","Security") in order to post animals</p>
    </div>
  }
<hr>
}



